@import url("https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Oswald:wght@200..700&family=Rouge+Script&display=swap");

.main-body {
  border: 2px solid black;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  font-family: Oswald;
  display: block;
  text-align: center;
  background-color: rgb(58, 58, 199);
}
.img {
    max-width: 100%;
    height: auto;
    max-height: 300px; /* Optional: Set a maximum height if needed */
}
h3 {
  font-family: Oswald;
}
.u-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.o-list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.main{
  background-color: grey;
}
table,td{
  border: 1px solid black;
  padding: 10px;
  margin: 10px;

}
@media (max-width: 600px) {
  th, td {
    padding: 4px;
    font-size: 0.8rem;
  }
}